<div class="home bg-img-3 parallax">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-wrapper text-center">
          <h1 class="animated fadeInDown wow mainTitle" data-wow-delay=".1s">{{vm.getLabel("mainTitle")}}</h1>
          <p class="animated fadeInDown wow" data-wow-delay=".2s">{{vm.getLabel("mainDesc")}}</p>
          <a ui-sref="apply" class="btn btn-primary btn-rounded w-lg animated fadeInDown wow applyBtn" data-wow-delay=".4s">{{vm.getLabel("applyTitle")}}</a>
          <div class="clearfix"></div>
          
        </div>
      </div>
    </div>
  </div>
  <testimonial-group class="animated fadeInDown"></testimonial-group>
</div>


